*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header{
    overflow: auto;
    position: fixed;
    width: 100%;
    padding: 25px 4rem;
}

.logo a{
    color: #FED136;
    font-size: 32px;
}

.logo{
    float: left;
}

.nav{
    float: right;
}

.nav a{
    padding-left: 20px;
    color: #fff;
}

.nav a:hover{
    color: #FFC800;
}

.photo{
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 1100px;
    text-align: center;
    color: #fff;
    padding: 400px;
}

.photo h1{
    font-style: italic;
    font-size: 48px;
    padding: 10px;
}

.photo p{
    font-size: 62px;
    font-weight: 700;
    margin-bottom: 90px;
}

.photo a{
    font-size: 24px;
    color: #fff;
    background-color: #FFC800;
    border-color: #FFC800;
    padding: 25px 50px;
    border-radius: 5px;
}

.photo a:hover{
    background-color: #d8aa05;
}


h1{
    text-align: center;
    margin: 1rem;
}

h3{
    text-align: center;
    font-style: italic;
}

.box-center-top{
    text-align: center;
}

.box-center-bottom{
    padding: 0 10rem;
}

.box-center p{
    font-style: italic;
    color: #6C757D;
}

.box-center-bottom .box-center-bottom-text{
    float: left;
    margin: 2rem calc(10%/5);;
    padding: 2rem;
    text-align: center;
}

.box-center-bottom-text h2{
    padding: 2rem 0 0.5rem 0;
}

.box_all_title p{
    font-style: italic;
    text-align: center;
    color: #6C757D;
}

.box_all{
    padding: 0 10rem;
}

.box_all .box{
    width: 30%;
    float: left;
    margin: 2rem calc(10%/6);
    padding: 2rem;
}

.box_all .box img{
    width: 100%;
    vertical-align: bottom;
}

.box-bottom{
    text-align: center;
}

.box-bottom h2{
    padding: 2rem 0 0.5rem 0;
}

.box-bottom p{
    font-style: italic;
    color: #6C757D;
}